.main {
  padding: 1rem 3rem 2rem 3rem;
  min-height: 100vh;
  /* width: 1080px; */
  /* display: flex;
  flex-direction: column; */
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  display: none;
}

.navigation_list {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.navigation_list li {
  list-style: none;
  color: #d7d5d6;
}

.navigation_seprator {
  margin: 0 0.8rem;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.inner_wrapper {
  margin: 8rem 1rem;
  max-width: 576px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.main_title {
  font-size: 5rem;
  font-weight: bold;
  background-image: linear-gradient(
    45deg,
    hsl(240deg 100% 20%) 0%,
    hsl(289deg 100% 21%) 11%,
    hsl(315deg 100% 27%) 22%,
    hsl(329deg 100% 36%) 33%,
    hsl(337deg 100% 43%) 44%,
    hsl(357deg 91% 59%) 56%,
    hsl(17deg 100% 59%) 67%,
    hsl(34deg 100% 53%) 78%,
    hsl(45deg 100% 50%) 89%,
    hsl(55deg 100% 50%) 100%
  );
}

.desc {
  margin: 3rem 0;
  line-height: 2;
  padding: 0 5rem;
  /* width: fit-content; */
  font-size: 1.2rem;
  font-weight: 500;
  color: #d7d5d6;
}

.form {
  margin-bottom: 2rem;
}

.email {
  font-size: 1.25rem;
  background-color: #2c2c2c;
  outline: none;
  color: #fff;
  border-radius: 0.3rem;
  /* margin: 0.4rem 0 0.3rem; */
  text-indent: 0.7rem;
  border: 0px solid #2b2c2c;
  text-indent: 1.5rem;
  height: 64px;
  width: 460px;
}

.submit_btn {
  font-size: 1rem;
  background-color: white;
  outline: none;
  color: black;
  font-weight: bold;
  border-radius: 0.3rem;
  /* margin: 0.4rem 0 0.3rem; */
  padding: 0 0.3rem;
  border: 0px solid #2b2c2c;
  text-align: center;
  height: 52px;
  width: 110px;
  margin-left: -120px;
  cursor: pointer;
}

.footer_inner_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}

.left_footer_list {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.left_footer_list li {
  display: flex;
  align-items: center;
  justify-content: baseline;
  color: white;
}

.footer_seprator {
  margin: 0 0.4rem;
}

@media screen and (min-width: 481px) and (max-width: 700px) {
  .main_title {
    font-size: clamp(3rem, 50%, 5rem);
  }

  .input_wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
  }

  .email {
    font-size: 1rem;

    /* margin: 0 0.3rem; */
    text-indent: 0.8rem;
    width: 380px;
    display: inline-block;
    /* display: none; */
  }

  .submit_btn {
    font-size: 0.8rem;
    /* margin: 0.4rem 0 0.3rem; */
    padding: 0 0.3rem;
    width: 70px;
    margin-left: -80px;
    /* display: none; */
    display: inline-block;
    /* display: none; */
  }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .main_title {
    font-size: 2rem;
  }

  .desc {
    padding: 0;
    font-size: 1rem;
    margin: 1.5rem 0;
  }

  .input_wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
  }

  .email {
    font-size: 0.8rem;

    /* margin: 0.4rem 0 0.3rem; */
    text-indent: 0.8rem;
    width: 280px;
    display: inline-block;
  }

  .submit_btn {
    font-size: 0.8rem;

    /* margin: 0.4rem 0 0.3rem; */
    padding: 0 0.3rem;
    width: 70px;
    margin-left: -80px;
    /* display: none; */
    display: inline-block;
  }

  .header {
    display: none;
  }

  /* .footer {
    display: none;
  } */

  .main {
    padding: 0.5rem 1rem 2rem 1rem;
  }

  .inner_wrapper {
    margin: 8rem 1rem;
  }
}
